<!--<div>
    <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
    <button (click)="randomize()">Update</button>
</div>-->
<hr />
<h1>Statistics</h1>

<div class="body-content">
    <ul>
        <li><strong>Number of elements:</strong> {{books?.length}} </li>
        <li><strong>Number of DVD elements:</strong> {{dvdOnly?.length }}</li>
        <li><strong>Number of CD elements:</strong> {{cdOnly?.length}} </li>
        <li><strong>Number of book elements:</strong> {{ booksOnly?.length }}</li>
        <li><strong>Number of available elements:</strong> {{ available?.length }} </li>
        <li><strong>Number of not available elements:</strong> {{notavailable?.length}} </li>
    </ul>
    <h4>Not available positions:</h4>
    <ul>
        <li *ngFor="let na of notavailable"><strong>Title: </strong><i>{{na.title}}</i></li>
    </ul>

    <h4>Rented by:</h4>
    <ul>
        <li *ngFor="let na of users"><strong>User: </strong><i>{{na.name}} {{na.lastName}}</i> 
        <ul>
            <li *ngFor="let book of na.rentedBooks">{{book.title}} - {{book?.rentedWhen}} </li>
        </ul>
        </li>
    </ul>
</div>

<hr/>
