<!--<div>
    <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
    <button (click)="randomize()">Update</button>
</div>-->
<hr />
<h1>Statistics</h1>

<div class="body-content">
    <ul>
        <li><strong>Number of elements:</strong> </li>
        <li><strong>Number of DVD elements:</strong> </li>
        <li><strong>Number of CD elements:</strong> </li>
        <li><strong>Number of book elements:</strong> </li>
        <li><strong>Number of available elements:</strong> </li>
        <li><strong>Number of not available elements:</strong> </li>
    </ul>

    <ul>
        <li><strong>Title: </strong> - date: </li>
    </ul>
</div>

<hr/>
