<hr />
<div class="row">
    <div class="col-sm-6">
        <h1>Title: {{selectedBook.title}}</h1>
        <select id="book" class="form-control" (change)="onBookChange()" [(ngModel)]="selectedBook" name="book">
            <option *ngFor="let b of books" [ngValue]="b">{{b.title}}</option>
        </select>
        <ul class="list-unstyled list-margin">
            <li><span class="glyphicon glyphicon-calendar list-item-margin">Year: {{selectedBook.year}}</span> </li>
            <li><span class="glyphicon glyphicon-cd list-item-margin">Media: {{selectedBook.media}}</span> </li>
            <li><span class="glyphicon glyphicon-user list-item-margin">Author: {{selectedBook.author}}</span> </li>
            <li><span class="glyphicon glyphicon-ok list-item-margin">State: {{selectedBook.state}}</span> </li>
            <li><button class="btn-info  btn-danger list-item-margin" *ngIf="logged.logged" (click)="changeState(selectedBook)"><span *ngIf="selectedBook.state">Borrow</span><span *ngIf="!selectedBook.state">Return</span></button></li>
        </ul>
    </div>
    <div class="col-sm-6">
        <img class="img-thumbnail" src="../home/images/books.jpg" />
    </div>
</div>
<hr />

<p>
    {{selectedBook | json}}
</p>
